*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.wrap {
  position: relative;
  padding-top: 10px;
}

.tip {
  position: absolute;
  left: 23px;
  top: 0;
  background-color: #fff;
  color: #333;
  width: max-content;
  margin: 0 auto;
  padding: 3px 5px;
  line-height: 1;
  font-size: 12px;
  border-radius: 5px;
  transition: all .5s;
}

.tip::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 10px;
  display: block;
  border-top: 6px solid #fff;
  border-left: 10px solid transparent;
  border-right: 2px solid transparent;
}

.main {
  position: relative;
  bottom: 0;
  width: 120px;
  height: 120px;
  /* 火狐 */
  -moz-user-select: none;
  /* Safari 和 欧朋 */
  -webkit-user-select: none;
  /* IE10+ and Edge */
  -ms-user-select: none;
  /* Standard syntax 标准语法(谷歌) */
  user-select: none;
}

.wrap:hover {
  cursor: pointer;
}

.top,
.bottom,
.face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  /* 火狐 */
  -moz-user-select: none;
  /* Safari 和 欧朋 */
  -webkit-user-select: none;
  /* IE10+ and Edge */
  -ms-user-select: none;
  /* Standard syntax 标准语法(谷歌) */
  user-select: none;
}

.top {
  z-index: 10;
  animation: shake 0.55s linear infinite alternate;
}

.face {
  left: 2px;
  z-index: 11;
  animation: shake 0.55s linear infinite alternate;
  opacity: 0;
}

.wrap:hover .face {
  opacity: 1;
  transition: all 0.5s;
}

.bottom {
  z-index: 9;
}

@keyframes shake {
  from {
    /* transform: rotate(-2deg); */
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes shine {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
