.dog-wrap,
.cat-wrap {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 0;
  background-size: 100%;
  transition: all 0.2s;
}

.dog-wrap {
  background-image: url(/body.png);
}

.cat-wrap {
  background-image: url(/body2.png);
}

.head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-size: 100%;
  animation: 0.55s linear infinite alternate;
}

.dog-wrap .head {
  background-image: url(/head.png);
  animation-name: shake;
}

.cat-wrap .head {
  background-image: url(/head2.png);
  animation-name: shake2;
}

.dog-wrap.laughing {
  background-image: url(/heart.png), url(/body.png);
}

.cat-wrap.laughing {
  background-image: url(/heart.png), url(/body2.png);
}

.dog-wrap.laughing .head {
  background-image: url(/face.png), url(/laugh.png);
}

.dog-wrap:hover .head {
  cursor: pointer;
  background-image: url(/face.png), url(/head.png);
}

.cat-wrap:hover .head,
.cat-wrap.laughing .head {
  cursor: pointer;
  background-image: url(/face2.png), url(/head2.png);
}

@keyframes shake {
  to {
    transform: rotate(10deg);
  }
}

@keyframes shake2 {
  to {
    transform: rotate(3deg);
  }
}
